@font-face {
    font-family: 'Product Sans';
    src: url('ProductSans-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'ProductSansBold';
    src: url('ProductSans-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(24, 25, 29);
    color: rgb(220, 221, 226);
    font-family: 'Product Sans';
}

.fingfing2{
    padding-top: 15%;
}

.fing3{
    width: 110%;
}

.fingfing3{
    width: 115%;
}

.fingfing4{
    width: 140%;
}

.skib{
    color: rgb(0, 110, 255);
}

.fing2{
    padding: 15%;
}

.TrentAlexander-Arnold{
    padding-left: 50%;
}

.SergioRamos{
    padding-left: 15%;
}

.bold{
    font-family: 'ProductSansBold';
}

.MarcusRashford{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
}

.FreakyAhh{
    padding-top: 15%; 
}